In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
case = pd.read_csv("C:/Users/Hannah Kim/Documents/_실증분석연구회/df.csv")
case

,Unnamed: 0,date,closing_sam,yesterday_sam,market_sam,high_sam,low_sam,volume_sam,name,price_du,...,closing_sh,open_sh,high_sh,low_sh,volume_sh,price_kospi,yesterday_kospi,change_kospi,volume_kospi(1000),money_kospi(milli)
0,0,2019-12-30,55800,-700,56200,56600,55700,8356767,OIL_DU,64.85,...,"3,040.02","2,998.17","3,041.40","2,983.34",24.81B,293.77,-1.43,-0.48,54972,2542759
1,1,2019-12-27,56500,1100,55700,56900,55500,12313056,OIL_DU,64.82,...,"3,005.04","3,006.85","3,036.11","3,003.63",24.71B,295.20,1.14,0.39,77505,3595200
2,2,2019-12-26,55400,400,54700,55400,54400,9645034,OIL_DU,64.83,...,"3,007.35","2,981.25","3,007.35","2,980.40",18.24B,294.06,1.16,0.40,68476,3210835
3,3,2019-12-24,55000,-500,55600,55700,54800,11868463,OIL_DU,64.79,...,"2,982.68","2,965.83","2,983.82","2,960.68",16.30B,292.90,-1.97,-0.67,60605,2713291
4,4,2019-12-23,55500,-500,56100,56400,55100,9839252,OIL_DU,64.65,...,"2,962.75","2,999.04","3,009.34","2,960.43",20.57B,294.87,-0.44,-0.15,62094,2896604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,2477,2009-01-09,493000,-15000,503000,506000,486000,602855,OIL_DU,47.36,...,"1,904.86","1,875.16","1,909.35","1,875.16",7.12B,154.17,-3.59,-2.28,182044,4305436
2478,2478,2009-01-08,508000,-16000,518000,519000,503000,613566,OIL_DU,50.24,...,"1,878.18","1,890.24","1,894.17","1,862.26",8.04B,157.76,-3.60,-2.23,225019,4860662
2479,2479,2009-01-07,524000,26000,505000,524000,499000,827163,OIL_DU,45.69,...,"1,924.01","1,938.97","1,948.23","1,920.52",9.24B,161.36,4.57,2.91,273144,6425668
2480,2480,2009-01-06,498000,22000,482000,502000,479500,901449,OIL_DU,48.02,...,"1,937.14","1,878.83","1,938.69","1,871.97",9.91B,156.79,2.96,1.92,200114,4713447
2481,2481,2009-01-05,476000,6000,480000,487000,473500,609528,OIL_DU,47.22,...,"1,880.72","1,849.02","1,880.72","1,844.09",6.71B,153.83,2.68,1.77,199256,4555346

case.change_jpy = case.change_jpy.astype(str)

a = list(case.change_jpy)
for i in range(len(a)):
    a[i] = a[i][:-1]

case['change_jpy_del'] = a

In [3]:
case

,Unnamed: 0,date,closing_sam,yesterday_sam,market_sam,high_sam,low_sam,volume_sam,name,price_du,...,closing_sh,open_sh,high_sh,low_sh,volume_sh,price_kospi,yesterday_kospi,change_kospi,volume_kospi(1000),money_kospi(milli)
0,0,2019-12-30,55800,-700,56200,56600,55700,8356767,OIL_DU,64.85,...,"3,040.02","2,998.17","3,041.40","2,983.34",24.81B,293.77,-1.43,-0.48,54972,2542759
1,1,2019-12-27,56500,1100,55700,56900,55500,12313056,OIL_DU,64.82,...,"3,005.04","3,006.85","3,036.11","3,003.63",24.71B,295.20,1.14,0.39,77505,3595200
2,2,2019-12-26,55400,400,54700,55400,54400,9645034,OIL_DU,64.83,...,"3,007.35","2,981.25","3,007.35","2,980.40",18.24B,294.06,1.16,0.40,68476,3210835
3,3,2019-12-24,55000,-500,55600,55700,54800,11868463,OIL_DU,64.79,...,"2,982.68","2,965.83","2,983.82","2,960.68",16.30B,292.90,-1.97,-0.67,60605,2713291
4,4,2019-12-23,55500,-500,56100,56400,55100,9839252,OIL_DU,64.65,...,"2,962.75","2,999.04","3,009.34","2,960.43",20.57B,294.87,-0.44,-0.15,62094,2896604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,2477,2009-01-09,493000,-15000,503000,506000,486000,602855,OIL_DU,47.36,...,"1,904.86","1,875.16","1,909.35","1,875.16",7.12B,154.17,-3.59,-2.28,182044,4305436
2478,2478,2009-01-08,508000,-16000,518000,519000,503000,613566,OIL_DU,50.24,...,"1,878.18","1,890.24","1,894.17","1,862.26",8.04B,157.76,-3.60,-2.23,225019,4860662
2479,2479,2009-01-07,524000,26000,505000,524000,499000,827163,OIL_DU,45.69,...,"1,924.01","1,938.97","1,948.23","1,920.52",9.24B,161.36,4.57,2.91,273144,6425668
2480,2480,2009-01-06,498000,22000,482000,502000,479500,901449,OIL_DU,48.02,...,"1,937.14","1,878.83","1,938.69","1,871.97",9.91B,156.79,2.96,1.92,200114,4713447
2481,2481,2009-01-05,476000,6000,480000,487000,473500,609528,OIL_DU,47.22,...,"1,880.72","1,849.02","1,880.72","1,844.09",6.71B,153.83,2.68,1.77,199256,4555346

In [4]:
case = case.drop(['Unnamed: 0', 'name'], axis = 1)

In [5]:
case = case.drop(['date'], axis = 1)

In [6]:
case.head()

,closing_sam,yesterday_sam,market_sam,high_sam,low_sam,volume_sam,price_du,closing_sp,open_sp,high_sp,...,closing_sh,open_sh,high_sh,low_sh,volume_sh,price_kospi,yesterday_kospi,change_kospi,volume_kospi(1000),money_kospi(milli)
0,55800,-700,56200,56600,55700,8356767,64.85,"3,221.29","3,240.09","3,240.92",...,"3,040.02","2,998.17","3,041.40","2,983.34",24.81B,293.77,-1.43,-0.48,54972,2542759
1,56500,1100,55700,56900,55500,12313056,64.82,"3,240.02","3,247.23","3,247.93",...,"3,005.04","3,006.85","3,036.11","3,003.63",24.71B,295.20,1.14,0.39,77505,3595200
2,55400,400,54700,55400,54400,9645034,64.83,"3,239.91","3,227.20","3,240.08",...,"3,007.35","2,981.25","3,007.35","2,980.40",18.24B,294.06,1.16,0.40,68476,3210835
3,55000,-500,55600,55700,54800,11868463,64.79,"3,223.38","3,225.45","3,226.43",...,"2,982.68","2,965.83","2,983.82","2,960.68",16.30B,292.90,-1.97,-0.67,60605,2713291
4,55500,-500,56100,56400,55100,9839252,64.65,"3,224.01","3,226.05","3,227.78",...,"2,962.75","2,999.04","3,009.34","2,960.43",20.57B,294.87,-0.44,-0.15,62094,2896604

In [7]:
lst = list(case.columns.values)

for i in lst:
    a = i
    if type(case[a][0]) == str:
        for j in range(len(case[a])):
            case[a][j] = case[a][j].replace(',', '')

C:\Users\Hannah Kim\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [8]:
for i in lst:
    a = i
    if type(case[a][0]) == str:
        for j in range(len(case[a])):
            case[a][j] = case[a][j].replace('M', '')

C:\Users\Hannah Kim\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [9]:
for i in lst:
    a = i
    if type(case[a][0]) == str:
        for j in range(len(case[a])):
            case[a][j] = case[a][j].replace('B', '')

C:\Users\Hannah Kim\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
lst = list(case.columns.values)

for i in lst:
    a = i
    if type(case[a][0]) == str:
        for j in range(len(case[a])):
            case[a][j] = case[a][j].replace('%', '')

C:\Users\Hannah Kim\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [11]:
case = case.apply(pd.to_numeric, errors = 'coerce').fillna(0)

In [12]:
case.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   closing_sam         2482 non-null   int64
 1   yesterday_sam       2482 non-null   int64
 2   market_sam          2482 non-null   int64
 3   high_sam            2482 non-null   int64
 4   low_sam             2482 non-null   int64
 5   volume_sam          2482 non-null   int64
 6   price_du            2482 non-null   float64
 7   closing_sp          2482 non-null   float64
 8   open_sp             2482 non-null   float64
 9   high_sp             2482 non-null   float64
 10  low_sp              2482 non-null   float64
 11  closing_dji         2482 non-null   float64
 12  open_dji            2482 non-null   float64
 13  high_dji            2482 non-null   float64
 14  low_dji             2482 non-null   float64
 15  volume_dji          2482 non-null   float64
 16  closing_cny         2482 non-null   float64
 17  open_cny            2482 non-null   float64
 18  high_cny            2482 non-null   float64
 19  low_cny             2482 non-null   float64
 20  change_cny          2482 non-null   float64
 21  closing_jpy         2482 non-null   float64
 22  open_jpy            2482 non-null   float64
 23  high_jpy            2482 non-null   float64
 24  low_jpy             2482 non-null   float64
 25  change_jpy          2482 non-null   float64
 26  closing_usd         2482 non-null   float64
 27  open_usd            2482 non-null   float64
 28  high_usd            2482 non-null   float64
 29  low_usd             2482 non-null   float64
 30  closing_sh          2482 non-null   float64
 31  open_sh             2482 non-null   float64
 32  high_sh             2482 non-null   float64
 33  low_sh              2482 non-null   float64
 34  volume_sh           2482 non-null   float64
 35  price_kospi         2482 non-null   float64
 36  yesterday_kospi     2482 non-null   float64
 37  change_kospi        2482 non-null   float64
 38  volume_kospi(1000)  2482 non-null   int64
 39  money_kospi(milli)  2482 non-null   int64
dtypes: float64(32), int64(8)
memory usage: 775.8 KB

MILLION, BILLION 곱하기

In [13]:
m = 1e6
t = 1000
b = 1e9
case['money_kospi(milli)'] = case['money_kospi(milli)']*m
case['volume_dji'] = case['volume_dji']*m
case['volume_sh'] = case['volume_sh']*b
case['volume_kospi(1000)'] = case['volume_kospi(1000)']*t

In [14]:
case.to_excel("Preprocessed_final.xlsx")