In [154]:
import numpy as np
import pandas as pd

In [155]:
data1=pd.read_csv("data1.csv")

In [156]:
data1

,Country,year,GDP_pc,product_hr,product_emp,work_hour,work_hour_sq,elderly,unemp,gap,RnD,min_wage,min_wage_sq,edu_tertiary
0,Australia,2000,10.2488267,3.484410,10.997042,1779.63,3167082.937,12.425,6.282619,17.2,1.57630,10.55,111.3025,27.475746
1,Australia,2001,10.29129685,3.534776,11.038013,1746.37,3049808.177,12.550,6.742315,14.3,0.00000,10.46,109.4116,28.977322
2,Australia,2002,10.33335134,3.572605,11.064932,1741.82,3033936.912,12.659,6.367617,15.0,1.75233,10.56,111.5136,30.759785
3,Australia,2003,10.38113215,3.613439,11.107992,1735.10,3010572.010,12.747,5.928698,13.0,0.00000,10.70,114.4900,31.314152
4,Australia,2004,10.42989669,3.638485,11.134710,1733.74,3005854.388,12.850,5.394726,14.4,1.85634,10.89,118.5921,30.823080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,United States,2014,10.91496427,4.217948,11.678595,1784.00,3182656.000,14.501,6.158009,17.5,2.73389,7.69,59.1361,44.224617
661,United States,2015,10.94677065,4.235824,11.701013,1785.00,3186225.000,14.862,5.277203,18.9,2.73222,7.68,58.9824,44.629398
662,United States,2016,10.96620477,4.248266,11.710577,1781.00,3171961.000,15.236,4.870907,18.1,2.77191,7.59,57.6081,45.666355
663,United States,2017,11.0018347,4.279352,11.740359,1780.00,3168400.000,15.622,4.351420,18.2,2.80161,7.43,55.2049,46.356800
664,United States,2018,11.04854851,4.313225,11.777597,1786.00,3189796.000,16.026,3.890712,NaN,NaN,7.25,52.5625,47.431145

In [157]:
data1 = data1.iloc[0:664]

In [158]:
data1.isnull().sum()

Country           0
year              0
GDP_pc            0
product_hr        0
product_emp       0
work_hour         3
work_hour_sq      0
elderly           0
unemp            19
gap             208
RnD              34
min_wage        168
min_wage_sq       0
edu_tertiary     47
dtype: int64

In [159]:
data1 = data1.dropna(axis=0)
data1.describe()

,year,product_hr,product_emp,work_hour,work_hour_sq,elderly,unemp,gap,RnD,min_wage,min_wage_sq,edu_tertiary
count,293.000000,293.000000,293.000000,293.000000,2.930000e+02,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000
mean,2008.996587,3.617232,11.102425,1777.111741,3.190728e+06,14.219553,8.146084,16.691126,1.577339,6.336485,48.503275,29.857730
std,4.911894,0.396642,0.335232,180.869853,6.770086e+05,5.051598,4.659195,8.525307,0.932672,2.894968,38.231473,11.328319
min,2000.000000,2.639546,10.101761,1360.400000,1.850688e+06,0.146000,2.816081,0.400000,0.000000,0.900000,0.810000,10.919287
25%,2005.000000,3.423765,10.935715,1710.000000,2.924100e+06,12.402000,5.028712,11.300000,0.880080,3.900000,15.210000,20.459860
50%,2009.000000,3.632638,11.123306,1757.000000,3.087049e+06,14.501000,6.995852,15.800000,1.502570,6.400000,40.960000,29.338522
75%,2013.000000,3.891181,11.306589,1817.000000,3.301489e+06,17.218000,9.559203,19.700000,2.050940,8.460000,71.571600,38.693394
max,2017.000000,4.592107,12.073523,2457.600000,6.039798e+06,27.743000,27.466424,41.700000,4.553240,11.740000,137.827600,56.714520

In [160]:
data1

,Country,year,GDP_pc,product_hr,product_emp,work_hour,work_hour_sq,elderly,unemp,gap,RnD,min_wage,min_wage_sq,edu_tertiary
0,Australia,2000,10.2488267,3.484410,10.997042,1779.63,3167082.937,12.425,6.282619,17.2,1.57630,10.55,111.3025,27.475746
1,Australia,2001,10.29129685,3.534776,11.038013,1746.37,3049808.177,12.550,6.742315,14.3,0.00000,10.46,109.4116,28.977322
2,Australia,2002,10.33335134,3.572605,11.064932,1741.82,3033936.912,12.659,6.367617,15.0,1.75233,10.56,111.5136,30.759785
3,Australia,2003,10.38113215,3.613439,11.107992,1735.10,3010572.010,12.747,5.928698,13.0,0.00000,10.70,114.4900,31.314152
4,Australia,2004,10.42989669,3.638485,11.134710,1733.74,3005854.388,12.850,5.394726,14.4,1.85634,10.89,118.5921,30.823080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,United States,2013,10.87891371,4.193535,11.651114,1781.00,3171961.000,14.124,7.372598,17.9,2.72486,7.81,60.9961,43.910252
660,United States,2014,10.91496427,4.217948,11.678595,1784.00,3182656.000,14.501,6.158009,17.5,2.73389,7.69,59.1361,44.224617
661,United States,2015,10.94677065,4.235824,11.701013,1785.00,3186225.000,14.862,5.277203,18.9,2.73222,7.68,58.9824,44.629398
662,United States,2016,10.96620477,4.248266,11.710577,1781.00,3171961.000,15.236,4.870907,18.1,2.77191,7.59,57.6081,45.666355
663,United States,2017,11.0018347,4.279352,11.740359,1780.00,3168400.000,15.622,4.351420,18.2,2.80161,7.43,55.2049,46.356800

In [161]:
data1.corr()

,year,product_hr,product_emp,work_hour,work_hour_sq,elderly,unemp,gap,RnD,min_wage,min_wage_sq,edu_tertiary
year,1.000000,0.453985,0.492547,-0.106116,-0.108547,0.239072,0.076706,-0.216756,0.072806,0.134322,0.132536,0.324452
product_hr,0.453985,1.000000,0.973992,-0.643161,-0.630688,0.237752,-0.063521,-0.179661,0.344272,0.830202,0.768957,0.668299
product_emp,0.492547,0.973992,1.000000,-0.463140,-0.451803,0.187483,-0.091075,-0.111338,0.377864,0.793300,0.726688,0.711306
work_hour,-0.106116,-0.643161,-0.463140,1.000000,0.996320,-0.318053,-0.043369,0.403038,-0.031442,-0.623793,-0.610452,-0.224713
work_hour_sq,-0.108547,-0.630688,-0.451803,0.996320,1.000000,-0.320819,-0.066772,0.425041,-0.010414,-0.601521,-0.583521,-0.217020
elderly,0.239072,0.237752,0.187483,-0.318053,-0.320819,1.000000,-0.061012,0.048275,0.222862,0.232991,0.198507,0.216338
unemp,0.076706,-0.063521,-0.091075,-0.043369,-0.066772,-0.061012,1.000000,-0.385476,-0.389751,-0.213039,-0.233027,-0.260491
gap,-0.216756,-0.179661,-0.111338,0.403038,0.425041,0.048275,-0.385476,1.000000,0.587927,-0.116223,-0.169353,0.334173
RnD,0.072806,0.344272,0.377864,-0.031442,-0.010414,0.222862,-0.389751,0.587927,1.000000,0.316157,0.223819,0.588969
min_wage,0.134322,0.830202,0.793300,-0.623793,-0.601521,0.232991,-0.213039,-0.116223,0.316157,1.000000,0.974507,0.643721
min_wage_sq,0.132536,0.768957,0.726688,-0.610452,-0.583521,0.198507,-0.233027,-0.169353,0.223819,0.974507,1.000000,0.562341
edu_tertiary,0.324452,0.668299,0.711306,-0.224713,-0.217020,0.216338,-0.260491,0.334173,0.588969,0.643721,0.562341,1.000000

In [162]:
data1.corr(method='spearman')

,year,product_hr,product_emp,work_hour,work_hour_sq,elderly,unemp,gap,RnD,min_wage,min_wage_sq,edu_tertiary
year,1.000000,0.424987,0.472106,-0.158304,-0.158304,0.292796,0.034034,-0.215792,0.048873,0.158540,0.158540,0.316644
product_hr,0.424987,1.000000,0.971254,-0.707783,-0.707783,0.216656,-0.025978,-0.084018,0.441382,0.857306,0.857306,0.692947
product_emp,0.472106,0.971254,1.000000,-0.558248,-0.558248,0.161051,-0.069734,-0.062103,0.447878,0.836284,0.836284,0.743148
work_hour,-0.158304,-0.707783,-0.558248,1.000000,1.000000,-0.300874,-0.111049,0.148012,-0.229571,-0.683684,-0.683684,-0.335248
work_hour_sq,-0.158304,-0.707783,-0.558248,1.000000,1.000000,-0.300874,-0.111049,0.148012,-0.229571,-0.683684,-0.683684,-0.335248
elderly,0.292796,0.216656,0.161051,-0.300874,-0.300874,1.000000,0.062641,-0.046631,0.196754,0.200328,0.200328,0.133729
unemp,0.034034,-0.025978,-0.069734,-0.111049,-0.111049,0.062641,1.000000,-0.486091,-0.422904,-0.178983,-0.178983,-0.307501
gap,-0.215792,-0.084018,-0.062103,0.148012,0.148012,-0.046631,-0.486091,1.000000,0.472670,-0.054778,-0.054778,0.357367
RnD,0.048873,0.441382,0.447878,-0.229571,-0.229571,0.196754,-0.422904,0.472670,1.000000,0.435317,0.435317,0.633135
min_wage,0.158540,0.857306,0.836284,-0.683684,-0.683684,0.200328,-0.178983,-0.054778,0.435317,1.000000,1.000000,0.686490
min_wage_sq,0.158540,0.857306,0.836284,-0.683684,-0.683684,0.200328,-0.178983,-0.054778,0.435317,1.000000,1.000000,0.686490
edu_tertiary,0.316644,0.692947,0.743148,-0.335248,-0.335248,0.133729,-0.307501,0.357367,0.633135,0.686490,0.686490,1.000000

In [54]:
pip install linearmodels

Requirement already satisfied: linearmodels in c:\users\baeng\anaconda3\lib\site-packages (4.16)
Requirement already satisfied: mypy-extensions>=0.4 in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (0.4.3)
Requirement already satisfied: statsmodels>=0.9 in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (0.10.1)
Requirement already satisfied: patsy in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (0.5.1)
Requirement already satisfied: numpy>=1.15 in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (1.16.5)
Requirement already satisfied: property-cached>=1.6.3 in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (1.6.3)
Requirement already satisfied: pandas>=0.23 in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (0.25.1)
Requirement already satisfied: Cython>=0.29.14 in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (0.29.14)
Requirement already satisfied: scipy>=1 in c:\users\baeng\anaconda3\lib\site-packages (from linearmodels) (1.3.1)
Requirement already satisfied: six in c:\users\baeng\anaconda3\lib\site-packages (from patsy->linearmodels) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\baeng\anaconda3\lib\site-packages (from pandas>=0.23->linearmodels) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\baeng\anaconda3\lib\site-packages (from pandas>=0.23->linearmodels) (2019.3)
Note: you may need to restart the kernel to use updated packages.

In [163]:
from linearmodels import PanelOLS
from linearmodels import PooledOLS

In [164]:
data=data1
year=pd.Categorical(data.year)
data=data.set_index(['Country', 'year'])
data['year']=year

In [165]:
mod = PanelOLS.from_formula('product_emp ~ work_hour + work_hour_sq + unemp + gap + RnD + min_wage + min_wage_sq + edu_tertiary', data)
result1_re = mod.fit(cov_type = 'clustered', cluster_entity=True)
print(result1_re)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            product_emp   R-squared:                        0.9996
Estimator:                   PanelOLS   R-squared (Between):              0.9997
No. Observations:                 293   R-squared (Within):               0.4092
Date:                Wed, Jan 29 2020   R-squared (Overall):              0.9996
Time:                        15:21:36   Log-likelihood                    23.265
Cov. Estimator:             Clustered
                                        F-statistic:                   8.795e+04
Entities:                          25   P-value                           0.0000
Avg Obs:                       11.720   Distribution:                   F(8,285)
Min Obs:                       3.0000
Max Obs:                       18.000   F-statistic (robust):          1.956e+04
                                        P-value                           0.0000
Time periods:                      18   Distribution:                   F(8,285)
Avg Obs:                       16.278
Min Obs:                      10.0000
Max Obs:                       24.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
work_hour        0.0107     0.0004     29.782     0.0000      0.0100      0.0114
work_hour_sq  -2.73e-06  1.779e-07    -15.345     0.0000  -3.081e-06   -2.38e-06
unemp            0.0058     0.0051     1.1276     0.2604     -0.0043      0.0159
gap             -0.0056     0.0055    -1.0033     0.3165     -0.0165      0.0053
RnD              0.0886     0.0471     1.8791     0.0613     -0.0042      0.1814
min_wage         0.0912     0.0455     2.0038     0.0460      0.0016      0.1808
min_wage_sq      0.0008     0.0038     0.2174     0.8280     -0.0066      0.0083
edu_tertiary     0.0055     0.0040     1.3892     0.1658     -0.0023      0.0133
================================================================================

In [166]:
mod = PooledOLS.from_formula('product_emp ~ work_hour + work_hour_sq + unemp + gap + RnD + min_wage + min_wage_sq + edu_tertiary', data)
result1_ols = mod.fit()
print(result1_ols)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:            product_emp   R-squared:                        0.9996
Estimator:                  PooledOLS   R-squared (Between):              0.9997
No. Observations:                 293   R-squared (Within):               0.4092
Date:                Wed, Jan 29 2020   R-squared (Overall):              0.9996
Time:                        15:21:40   Log-likelihood                    23.265
Cov. Estimator:            Unadjusted
                                        F-statistic:                   8.795e+04
Entities:                          25   P-value                           0.0000
Avg Obs:                       11.720   Distribution:                   F(8,285)
Min Obs:                       3.0000
Max Obs:                       18.000   F-statistic (robust):          8.795e+04
                                        P-value                           0.0000
Time periods:                      18   Distribution:                   F(8,285)
Avg Obs:                       16.278
Min Obs:                      10.0000
Max Obs:                       24.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
work_hour        0.0107     0.0001     77.308     0.0000      0.0104      0.0109
work_hour_sq  -2.73e-06  6.119e-08    -44.625     0.0000  -2.851e-06   -2.61e-06
unemp            0.0058     0.0034     1.7039     0.0895     -0.0009      0.0125
gap             -0.0056     0.0024    -2.2850     0.0230     -0.0103     -0.0008
RnD              0.0886     0.0221     4.0113     0.0001      0.0451      0.1321
min_wage         0.0912     0.0268     3.4036     0.0008      0.0385      0.1440
min_wage_sq      0.0008     0.0019     0.4445     0.6570     -0.0028      0.0045
edu_tertiary     0.0055     0.0019     2.8214     0.0051      0.0017      0.0093
================================================================================

In [169]:
mod = PanelOLS.from_formula('product_emp ~ work_hour + work_hour_sq + gap + RnD + min_wage + min_wage_sq + EntityEffects', data)
result1_fe = mod.fit(cov_type = 'clustered', cluster_entity=True)
print(result1_fe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            product_emp   R-squared:                        0.7193
Estimator:                   PanelOLS   R-squared (Between):             -2.5104
No. Observations:                 293   R-squared (Within):               0.7193
Date:                Wed, Jan 29 2020   R-squared (Overall):             -2.5486
Time:                        15:22:15   Log-likelihood                    267.21
Cov. Estimator:             Clustered
                                        F-statistic:                      111.91
Entities:                          25   P-value                           0.0000
Avg Obs:                       11.720   Distribution:                   F(6,262)
Min Obs:                       3.0000
Max Obs:                       18.000   F-statistic (robust):             118.58
                                        P-value                           0.0000
Time periods:                      18   Distribution:                   F(6,262)
Avg Obs:                       16.278
Min Obs:                      10.0000
Max Obs:                       24.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
work_hour       -0.0110     0.0028    -3.9926     0.0001     -0.0164     -0.0056
work_hour_sq  2.619e-06  6.044e-07     4.3341     0.0000   1.429e-06   3.809e-06
gap             -0.0145     0.0058    -2.4987     0.0131     -0.0259     -0.0031
RnD              0.0478     0.0379     1.2600     0.2088     -0.0269      0.1225
min_wage         0.3548     0.0494     7.1864     0.0000      0.2576      0.4521
min_wage_sq     -0.0151     0.0040    -3.7601     0.0002     -0.0230     -0.0072
================================================================================

F-test for Poolability: 27.560
P-value: 0.0000
Distribution: F(24,262)

Included effects: Entity

In [170]:
df = pd.read_csv("data2.csv")
df

,Country,year,GDP_pc,product_hr,product_emp,work_hour,work_hour_sq,elderly,unemp,gap,RnD,min_wage,min_wage_sq,edu_tertiary
0,Australia,2000,10.248827,3.484410,10.997042,1779.63,3167082.937,12.425,6.282619,17.200000,1.576300,10.55,111.3025,27.475746
1,Australia,2001,10.291297,3.534776,11.038013,1746.37,3049808.177,12.550,6.742315,14.300000,1.664315,10.46,109.4116,28.977322
2,Australia,2002,10.333351,3.572605,11.064932,1741.82,3033936.912,12.659,6.367617,15.000000,1.752330,10.56,111.5136,30.759785
3,Australia,2003,10.381132,3.613439,11.107992,1735.10,3010572.010,12.747,5.928698,13.000000,1.804335,10.70,114.4900,31.314152
4,Australia,2004,10.429897,3.638485,11.134710,1733.74,3005854.388,12.850,5.394726,14.400000,1.856340,10.89,118.5921,30.823080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,United States,2014,10.914964,4.217948,11.678595,1784.00,3182656.000,14.501,6.158009,17.500000,2.733890,7.69,59.1361,44.224617
300,United States,2015,10.946771,4.235824,11.701013,1785.00,3186225.000,14.862,5.277203,18.900000,2.732220,7.68,58.9824,44.629398
301,United States,2016,10.966205,4.248266,11.710577,1781.00,3171961.000,15.236,4.870907,18.100000,2.771910,7.59,57.6081,45.666355
302,United States,2017,11.001835,4.279352,11.740359,1780.00,3168400.000,15.622,4.351420,18.200000,2.801610,7.43,55.2049,46.356800
303,United States,2018,11.048549,4.313225,11.777597,1786.00,3189796.000,16.026,3.890712,17.960529,2.812031,7.25,52.5625,47.431145

In [171]:
data=df
year=pd.Categorical(data.year)
data=data.set_index(['Country', 'year'])
data['year']=year

In [178]:
mod = PanelOLS.from_formula('product_emp ~ work_hour + work_hour_sq + unemp + gap + RnD + min_wage + min_wage_sq + EntityEffects', data)
result2_fe = mod.fit(cov_type = 'clustered', cluster_entity=True)
print(result2_fe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            product_emp   R-squared:                        0.7799
Estimator:                   PanelOLS   R-squared (Between):             -1.6934
No. Observations:                 304   R-squared (Within):               0.7799
Date:                Wed, Jan 29 2020   R-squared (Overall):             -1.6925
Time:                        15:27:28   Log-likelihood                    276.79
Cov. Estimator:             Clustered
                                        F-statistic:                      142.27
Entities:                          16   P-value                           0.0000
Avg Obs:                       19.000   Distribution:                   F(7,281)
Min Obs:                       19.000
Max Obs:                       19.000   F-statistic (robust):             330.39
                                        P-value                           0.0000
Time periods:                      19   Distribution:                   F(7,281)
Avg Obs:                       16.000
Min Obs:                       16.000
Max Obs:                       16.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
work_hour       -0.0091     0.0030    -3.0075     0.0029     -0.0151     -0.0032
work_hour_sq  2.373e-06  7.017e-07     3.3815     0.0008   9.915e-07   3.754e-06
unemp            0.0046     0.0044     1.0343     0.3019     -0.0041      0.0133
gap             -0.0196     0.0069    -2.8476     0.0047     -0.0332     -0.0061
RnD              0.1901     0.0835     2.2773     0.0235      0.0258      0.3544
min_wage         0.3254     0.0587     5.5406     0.0000      0.2098      0.4410
min_wage_sq     -0.0129     0.0042    -3.0713     0.0023     -0.0212     -0.0046
================================================================================

F-test for Poolability: 54.018
P-value: 0.0000
Distribution: F(15,281)

Included effects: Entity

In [183]:
from collections import OrderedDict
from linearmodels.panel import compare

In [187]:
res = OrderedDict()
res['OLS'] = result1_ols
res['Random'] = result1_re
res['Fixed'] = result1_fe
print(compare(res))

                            Model Comparison
=======================================================================
                                    OLS          Random           Fixed
-----------------------------------------------------------------------
Dep. Variable               product_emp     product_emp     product_emp
Estimator                     PooledOLS        PanelOLS        PanelOLS
No. Observations                    293             293             293
Cov. Est.                    Unadjusted       Clustered       Clustered
R-squared                        0.9996          0.9996          0.7193
R-Squared (Within)               0.4092          0.4092          0.7193
R-Squared (Between)              0.9997          0.9997         -2.5104
R-Squared (Overall)              0.9996          0.9996         -2.5486
F-statistic                   8.795e+04       8.795e+04          111.91
P-value (F-stat)                 0.0000          0.0000          0.0000
=====================     =============   =============   =============
work_hour                        0.0107          0.0107         -0.0110
                               (77.308)        (29.782)       (-3.9926)
work_hour_sq                  -2.73e-06       -2.73e-06       2.619e-06
                              (-44.625)       (-15.345)        (4.3341)
unemp                            0.0058          0.0058
                               (1.7039)        (1.1276)
gap                             -0.0056         -0.0056         -0.0145
                              (-2.2850)       (-1.0033)       (-2.4987)
RnD                              0.0886          0.0886          0.0478
                               (4.0113)        (1.8791)        (1.2600)
min_wage                         0.0912          0.0912          0.3548
                               (3.4036)        (2.0038)        (7.1864)
min_wage_sq                      0.0008          0.0008         -0.0151
                               (0.4445)        (0.2174)       (-3.7601)
edu_tertiary                     0.0055          0.0055
                               (2.8214)        (1.3892)
======================= =============== =============== ===============
Effects                                                          Entity
-----------------------------------------------------------------------

T-stats reported in parentheses

In [129]:
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col

In [130]:
dfoutput = summary_col([result1_ols, result1_re, result1_fe, result2_fe], stars=True)
print(dfoutput)

AttributeError: 'PanelResults' object has no attribute 'bse'